@import url(http://fonts.googleapis.com/css?family=Montserrat);

body { font-family: 'Montserrat', Arial, serif; font-weight: 400; }

#logging-io {
    position: absolute;
    right: 30px;
    top: 20px;
}