<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Intorduction aux opérations CRUD avec Google Datastore, Flask et jTable">
      <meta name="author" content="Joël Viellepeau">
      <title>flask | jtable</title>
      <link rel="icon" href="favicon.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="/jtable/lib/themes/metro/blue/jtable.min.css" type="text/css" />
      <link rel="stylesheet" href="css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="jtable/lib/jquery.jtable.min.js"></script>
      <script src="js/customer.jtable.js"></script>
  </head>
  <body class="container-fluid">
    
    <header class="jumbotron text-center">
      <h1>Démo flask-jtable 0.1</h1>
      <h3><a href="http://www.jtable.org/GettingStarted?ref=homebuttons">Documentation jtable</a></h3>
      <a href="https://github.com/viellepeau/flask-jtable">Code source de cette application web</a>
    </header>

    <main class="container">
      <div id="CustomerTableContainer"></div>
    </main> 

    <!-- Bouton de (dé)connexion --> 
    <div id="logging-io">
      # if not user
        <a href="{{login_url}}" class="btn btn-primary">Connexion</a>
      # else
        <a href="{{logout_url}}" class="btn btn-warning">Déconnexion</a>
      # endif
    </div>

  </body>
</html>